# See http://help.github.com/ignore-files/ for more about ignoring files.

# Smart-contract
/build

# Dependencies
**/node_modules

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Front
/front-starter/dist
/front-starter/node_modules

# Mac
/.DS_Store
/front-starter/.DS_Store
front-starter/assets_src/.DS_Store
